body {
    background-image: url(../img/background.png);
}

.central {
    /* background-color: rgba(0, 0, 0, 0.807); */
    width: 1000px;
    height: 550px;
    /* margin-top: 120px; */
    border-radius: 25px;
    padding-left: 50px;
}

.central h1 {
    text-align: left;
    font-size: 50px;
    color: black;
    font-family: "Inter";

}

.central #info {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Inter";
    margin-top: -20px;
    padding-bottom: 5px;
    font-size: 18px;

}

form {
    margin-top: 30px;
    /* border: 2px solid black; */

}

label {
    color: #000000;
    font-family: "Lato";
    font-size: 20px;
    /* border: 2px solid black; */
}

input {
    margin-top: 20px;
}

.elementos {
    padding: 15px;

}



.square {
    border: 2px;
    border-color: red;
    border-style: dashed;
    border-radius: 20px;
    width: 300px;
    background-color: transparent;
    color: #000000;
    padding: 7px;
    text-align: center;
    transition: 0.6s;
    display: block;



}

.square::placeholder {
    color: #000000a2;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.square:hover {
    border: 2px solid red;
    font-size: 17px;
}

#info2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.635);
    font-family: "Lato";
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 18px;
}

.calcular {
    background-color: red;
    padding: 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 25px;
    font-family: "Lato";
    color: white;
    position: absolute;
    margin-left: 30%;
    margin-top: -12%;
}

.phpresponde {
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 10px;
    padding: 5px;
    color: #000000;
    font-family: "Arial";
    font-size: 20px;
    position: absolute;
    margin-top: -6%;
    margin-left: 22%;

}